
*.vsidx
*.opendb
/.vs/Panzermensch/v17/.suo
/.vs/Panzermensch/v17/Browse.VC.db
/.vs/Panzermensch/v17/Browse.VC.db-shm
/.vs/Panzermensch/v17/Browse.VC.db-wal
/.vs/Panzermensch/v17/DocumentLayout.backup.json
/.vs/Panzermensch/v17/DocumentLayout.json
/.vs/Panzermensch/v17/ipch/AutoPCH/8f96ae124e95c751/PANZERMENSCH.ipch
